body, html, #root, .app, .container {
  width: 100%;
  height: 100%;
}


.container {
  font-size: 50px;
  font-weight: bold;
  color: #050F11;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
}
.Header
{
   position: absolute;
   top: 80px;
   background-color: #051111;
   width: 90%;
   height: 80px;
}

.loginForm {
 box-sizing: border-box;
 width: 100%;
 max-width: 600px;
 padding-left: 20px;
 padding-right: 20px;
}



.inputField {
 padding-top: 16px;
}

.input {
 box-sizing: border-box;
 outline: none;
 border: solid 2px #E93014;
 border-radius: 4px;
 color: #292929;
 width: 100%;
 padding: 12px;
 font-size: 16px;
 background: rgba(255, 255, 255, 1);
}

.submitButton {
 padding-top: 16px;
}


.btn {
 width: 100%;
 min-width: 280px;
 color: #fff;
 padding: 12px;
 font-size: 16px;
 font-weight: bold;
 border: solid 2px #E93014;
 border-radius: 4px;
 background: #110605;
 cursor: pointer;
}
