.studentInfo{
    width: 50%;
}

.risk-assessment-form{
	display: block;
}
.departureAirport{
    width: 50%;
}

.dash{
    align-items: right;
}

.jumbo {
	align-content: center;
	align-items: center;
	text-align: center;
	color:#FFF;
	background-color: #000000;
}

.dash-btn {
	background-color: #000000;
	color:#FFF;
	border-color: #FF0000;
}
.react-datepicker {
	font-size: 1.3rem !important;
}

.react-datepicker__current-month {
	font-size: 1.5rem !important;
}

.react-datepicker__header {
	padding-top: 6px !important;
}

.react-datepicker__navigation {
	top: 13px !important;
}

.react-datepicker__day-name, .react-datepicker__day {
	margin: 0.5rem !important;
}

