.studentInfo{
    width: 80%;
}

.departureAirport{
    width: 40%;
}

.dash{
    align-items: right;
}

.jumbo {
	align-content: center;
	align-items: center;
	text-align: center;
	color:#FFF;
	background-color: #000000;
}